.sole_form_wrapper {
	margin: 5em auto;
	width: 31em;
}

.sole_form_wrapper h1 {
	border-color: #6b808d;
	background-color: #6b808d;
	border-radius: 3px 3px 0 0;
	border-style: solid;
	border-width: 1px;
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	padding: 8px 18px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
}

.sole_form_wrapper .formbody {
	background-color: #E9F1F4;
	border-color: #E9F1F4 #D8DEE2 #D8DEE2;
	border-radius: 0 0 3px 3px;
	border-style: solid;
	border-width: 1px 1px 2px;
	overflow: hidden;
	padding: 2em;
}

.sole_form_wrapper form label {
	color: #2F424E;
	cursor: text;
	display: inline-block;
	font-size: 110%;
	text-shadow: 0 -1px 0 rgba(100, 100, 100, 0.1);
}

.sole_form_wrapper form input.text {
	font-size: 110%;
	border: 1px solid #D8DEE2;
	margin: 0.2em 0 1em;
	padding: 5px;
}

.sole_form_wrapper form .btn {
	background-color: #F0F0F0;
	border-color: #EBEBEB;
	border-radius: 4px 4px 4px 4px;
	border-style: none none solid;
	border-width: medium medium 1px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	color: #333333;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	height: 34px;
	margin-left: 1px;
	overflow: visible;
	padding: 0 13px;
	position: relative;
	text-shadow: 1px 1px 0 #FFFFFF;
	top: 1px;
}